<section>
    <h1>NOCC</h1>
    <p>In qualità di medico hai la facoltà di partecipare alla gestione dei casi clinici cui sei stato associato.</p>
    <h2>Gestione caso clinico</h2>
    <p>Dalla sezione <a ui-sref="case" href>casi clinici</a> potrai accedere alla scheda dei singoli casi cliccando sulla diagnosi degli stessi.</p>
    <p>All'interno di un caso clinico potrai muoverti nelle varie sezioni utilizzando l'apposito menu che comprenderà un numero di voci variabili a seconda dell'avanzamento del caso.</p>
    <p>La sezione principale è sempre presente e mostra quali sono le operazioni da effettuare nell'attuale stato in cui si trova il caso clinico.</p>
    <h2>Notifiche</h2>
    <p>Puoi sempre visualizzare quali sono le operazioni che devi compiere per portare avanti i casi clinici cliccando sull'icona <i class="fa fa-bell"></i> delle notifiche nella barra superiore.</p>
    <h2>Gestione profilo</h2>
    <p>Puoi gestire in completa autonomia tutte le informazioni del tuo profilo:</p>
    <ul>
        <li>indirizzo e-mail principale</li>
        <li>fotografia</li>
        <li>CV</li>
        <li>Contatti nelle strutture con giorni di disponibilità ed eccezioni</li>
    </ul>
    <h2>Logout</h2>
    <p>Puoi effettuare il logout da sistema cliccando sull'icona <i class="fa fa-sign-out"></i> nella barra superiore.</p>
</section>
