<h2>Follow Up</h2>

<tabset>
    <tab>
        <tab-heading>Iniziali</tab-heading>
        <div style="margin-top: 20px;">
            <h3>Accettati</h3>
            <table ng-show="vm.data.initial.accepted.length" class="table table bordered table-striped">
                <tr>
                    <th>Medico</th>
                    <th>Data</th>
                    <th>Descrizione</th>
                    <th>Esami</th>
                    <th></th>
                </tr>
                <tr ng-repeat="fu in vm.data.initial.accepted">
                    <td data-title="Medico">{{ fu.doctor_contact.doctor.firstname }} {{ fu.doctor_contact.doctor.lastname }}</td>
                    <td data-title="Data">{{ fu.date | date: 'dd/MM/yyyy HH:mm' }}</td>
                    <td data-title="Descrizione">{{ fu.text }}</td>
                    <td data-title="Esami">
                        <a href ui-sref="case.detail.doctor.examination({ activeTab: 'followup' })" class="fa fa-eye"></a>
                    </td>
                </tr>
            </table>
            <p ng-show="!vm.data.initial.accepted.length">Non risultano Follow Up accettati</p>
            <h3>Finalizzati</h3>
            <table ng-show="vm.data.initial.finalized.length" class="table table bordered table-striped">
                <tr>
                    <th>Medico</th>
                    <th>Data</th>
                    <th>Descrizione</th>
                    <th>Esami</th>
                </tr>
                <tr ng-repeat="fu in vm.data.initial.finalized">
                    <td data-title="Medico">{{ fu.doctor_contact.doctor.firstname }} {{ fu.doctor_contact.doctor.lastname }}</td>
                    <td data-title="Data">{{ fu.date | date: 'dd/MM/yyyy HH:mm' }}</td>
                    <td data-title="Descrizione">{{ fu.text }}</td>
                    <td data-title="Esami">
                        <a href ui-sref="case.detail.doctor.examination({ activeTab: 'followup' })" class="fa fa-eye"></a>
                    </td>
                </tr>
            </table>
            <p ng-show="!vm.data.initial.finalized.length">Non risultano Follow Up finalizzati</p>
        </div>
    </tab>
    <tab ng-if="vm.data.adjuvant.total">
        <tab-heading>Terapia adiuvante</tab-heading>
        <div style="margin-top: 20px;">
            <h3>Accettati</h3>
            <table ng-show="vm.data.adjuvant.accepted.length" class="table table bordered table-striped">
                <tr>
                    <th>Medico</th>
                    <th>Data</th>
                    <th>Descrizione</th>
                    <th>Esami</th>
                    <th></th>
                </tr>
                <tr ng-repeat="fu in vm.data.adjuvant.accepted">
                    <td data-title="Medico">{{ fu.doctor_contact.doctor.firstname }} {{ fu.doctor_contact.doctor.lastname }}</td>
                    <td data-title="Data">{{ fu.date | date: 'dd/MM/yyyy HH:mm' }}</td>
                    <td data-title="Descrizione">{{ fu.text }}</td>
                    <td data-title="Esami">
                        <a href ui-sref="case.detail.doctor.examination({ activeTab: 'adj' })" class="fa fa-eye"></a>
                    </td>
                </tr>
            </table>
            <p ng-show="!vm.data.adjuvant.accepted.length">Non risultano Follow Up accettati</p>
            <h3>Finalizzati</h3>
            <table ng-show="vm.data.adjuvant.finalized.length" class="table table bordered table-striped">
                <tr>
                    <th>Medico</th>
                    <th>Data</th>
                    <th>Descrizione</th>
                    <th>Esami</th>
                </tr>
                <tr ng-repeat="fu in vm.data.adjuvant.finalized">
                    <td data-title="Medico">{{ fu.doctor_contact.doctor.firstname }} {{ fu.doctor_contact.doctor.lastname }}</td>
                    <td data-title="Data">{{ fu.date | date: 'dd/MM/yyyy HH:mm' }}</td>
                    <td data-title="Descrizione">{{ fu.text }}</td>
                    <td data-title="Esami">
                        <a href ui-sref="case.detail.doctor.examination({ activeTab: 'adj' })" class="fa fa-eye"></a>
                    </td>
                </tr>
            </table>
            <p ng-show="!vm.data.adjuvant.finalized.length">Non risultano Follow Up finalizzati</p>
        </div>
    </tab>
    <tab ng-if="vm.data.final.total">
        <tab-heading>Fine trattamento</tab-heading>
        <div style="margin-top: 20px;">
            <h3>Accettati</h3>
            <table ng-show="vm.data.final.accepted.length" class="table table bordered table-striped">
                <tr>
                    <th>Medico</th>
                    <th>Data</th>
                    <th>Descrizione</th>
                    <th>Esami</th>
                    <th></th>
                </tr>
                <tr ng-repeat="fu in vm.data.final.accepted">
                    <td data-title="Medico">{{ fu.doctor_contact.doctor.firstname }} {{ fu.doctor_contact.doctor.lastname }}</td>
                    <td data-title="Data">{{ fu.date | date: 'dd/MM/yyyy HH:mm' }}</td>
                    <td data-title="Descrizione">{{ fu.text }}</td>
                    <td data-title="Esami">
                        <a href ui-sref="case.detail.doctor.examination({ activeTab: 'final' })" class="fa fa-eye"></a>
                    </td>
                </tr>
            </table>
            <p ng-show="!vm.data.final.accepted.length">Non risultano Follow Up accettati</p>
            <h3>Finalizzati</h3>
            <table ng-show="vm.data.final.finalized.length" class="table table bordered table-striped">
                <tr>
                    <th>Medico</th>
                    <th>Data</th>
                    <th>Descrizione</th>
                    <th>Esami</th>
                </tr>
                <tr ng-repeat="fu in vm.data.final.finalized">
                    <td data-title="Medico">{{ fu.doctor_contact.doctor.firstname }} {{ fu.doctor_contact.doctor.lastname }}</td>
                    <td data-title="Data">{{ fu.date | date: 'dd/MM/yyyy HH:mm' }}</td>
                    <td data-title="Descrizione">{{ fu.text }}</td>
                    <td data-title="Esami">
                        <a href ui-sref="case.detail.doctor.examination({ activeTab: 'final' })" class="fa fa-eye"></a>
                    </td>
                </tr>
            </table>
            <p ng-show="!vm.data.final.finalized.length">Non risultano Follow Up finalizzati</p>
        </div>
    </tab>

</tabset>
