<div ng-if="vm.actions.length" class="actions-bar">
    <i ng-repeat="action in vm.actions" class="link fa fa-2x fa-{{ action.fa }}" ng-click="action.exec()"></i>
</div>
<section>
    <h1>Casi clinici</h1>
    <p>Elenco dei casi clinici. Clicca sulla diagnosi per accedere alla sezione di gestione del singolo caso.</p>
    <div ng-if="vm.surgeon_cases.length">
        <h2>Casi chirurgo</h2>
        <div class="table-responsive-vertical">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Diagnosi</th>
                        <th>Paziente</th>
                        <th>Ultima modifica</th>
                        <th>Stato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in vm.surgeon_cases">
                        <td data-title="Diagnosi"><a href ui-sref="case.detail.surgeon.main({ caseId: c.id })">{{ c.specific_diagnosis_name }}</a></td>
                        <td data-title="Paziente">{{ c.patient_obj.lastname }} {{ c.patient_obj.firstname }}</td>
                        <td data-title="Ultima modifica">{{ c.last_edit_date | date: 'medium'}}</td>
                        <td data-title="Stato">{{ c.get_status_display }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-if="vm.doctor_cases.length">
        <h2>Casi</h2>
        <div class="table-responsive-vertical">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Diagnosi</th>
                        <th>Paziente</th>
                        <th>Ultima modifica</th>
                        <th>Stato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in vm.doctor_cases">
                        <td data-title="Diagnosi"><a href ui-sref="case.detail.doctor.main({ caseId: c.id })">{{ c.specific_diagnosis_name }}</a></td>
                        <td data-title="Paziente">{{ c.patient_obj.lastname }} {{ c.patient_obj.firstname }}</td>
                        <td data-title="Ultima modifica">{{ c.last_edit_date | date: 'medium'}}</td>
                        <td data-title="Stato">{{ c.get_status_display }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-if="vm.observer_cases.length">
        <h2>Casi Osservatore</h2>
        <div class="table-responsive-vertical">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Diagnosi</th>
                        <th>Paziente</th>
                        <th>Ultima modifica</th>
                        <th>Stato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in vm.observer_cases">
                        <td data-title="Diagnosi"><a href ui-sref="case.detail.observer.main({ caseId: c.id })">{{ c.specific_diagnosis_name }}</a></td>
                        <td data-title="Paziente">{{ c.patient_obj.lastname }} {{ c.patient_obj.firstname }}</td>
                        <td data-title="Ultima modifica">{{ c.last_edit_date | date: 'medium'}}</td>
                        <td data-title="Stato">{{ c.get_status_display }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
