<div class="modal-header">
    <h2><i class="fa fa-pencil" /> Modifica profilo</h2>
</div>
<form role="form">
    <div class="modal-body">
        <div class="form-group">
            <label for="profile__firstname">Nome</label>
            <div class="error" ng-show="errors.name">
                <div class="alert alert-danger" ng-repeat="e in errors.firstname">{{ e }}</div>
            </div>
            <input type="text" class="form-control" id="profile__firstname" ng-model="doctor.firstname" required />
        </div>
        <div class="form-group">
            <label for="profile__lastname">Cognome</label>
            <div class="error" ng-show="errors.lastname">
                <div class="alert alert-danger" ng-repeat="e in errors.lastname">{{ e }}</div>
            </div>
            <input type="text" class="form-control" id="profile__lastname" ng-model="doctor.lastname" required />
        </div>
        <div class="form-group">
            <label for="profile__email">E-mail</label>
            <div class="error" ng-show="errors.email">
                <div class="alert alert-danger" ng-repeat="e in errors.email">{{ e }}</div>
            </div>
            <input type="text" class="form-control" id="profile__email" ng-model="doctor.email" required />
        </div>
        <div class="form-group">
            <label>Specializzazioni</label>
            <div class="checkbox checkbox-primary">
                <label for="profile__is_surgeon">Chirurgo
                    <input type="checkbox" class="form-control" id="profile__is_surgeon" ng-model="doctor.is_surgeon" />
                </label>
                <label for="profile__is_oncologist">Oncologo
                    <input type="checkbox" class="form-control" id="profile__is_oncologist" ng-model="doctor.is_oncologist" />
                </label>
                <label for="profile__is_radiotherapist">Radioterapista
                    <input type="checkbox" class="form-control" id="profile__is_radiotherapist" ng-model="doctor.is_radiotherapist" />
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="profile__cv">CV</label>
            <div class="error" ng-show="errors.cv">
                <div class="alert alert-danger" ng-repeat="e in errors.cv">{{ e }}</div>
            </div>
            <div class="form-control-static" ng-show="doctor.cv"><aajax href="{{ doctor.cv }}" target="_blank">file presente</a></div>
            <p>Inseirsci/Modifica CV</p>
            <div ngf-drop ngf-select ng-model="file.cv" class="drop-box" 
                 ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword,application/pdf">Trascina un file o clicca per aprire una finestra di selezione</div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
            <progressbar ng-show="show_progress_bar_cv" class="progress-striped active" animate="true" max="100" value="progressValue_cv" type="success"><i>{{ progressValue_cv }} / 100</i></progressbar>
            <p class="alert alert-info" ng-show="progressValue_cv == 100 && show_progress_bar_cv && !uploadError_cv"><i class="fa fa-info-circle" style="display: inline-block;margin-right: 10px;"></i>upload completato con successo</p>
            <p class="alert alert-danger" ng-show="uploadError_cv"><i class="fa fa-exclamation-circle" style="display: inline-block;margin-right: 10px;"></i>upload fallito</p>
        </div>

        <div class="form-group">
            <label for="profile__cv">Fotografia</label>
            <div class="error" ng-show="errors.photo">
                <div class="alert alert-danger" ng-repeat="e in errors.photo">{{ e }}</div>
            </div>
            <div class="form-control-static" ng-show="doctor.photo"><aajax href="{{ doctor.photo }}" target="_blank">file presente</a></div>
            <p>Inseirsci/Modifica fotografia</p>
            <div ngf-drop ngf-select ng-model="file.photo" class="drop-box" 
                 ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false" accept="image/*">Trascina un'immagine (jpg, png, gif) o clicca per aprire una finestra di selezione</div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
            <progressbar ng-show="show_progress_bar_ph" class="progress-striped active" animate="true" max="100" value="progressValue_ph" type="success"><i>{{ progressValue_ph }} / 100</i></progressbar>
            <p class="alert alert-info" ng-show="progressValue_ph == 100 && show_progress_bar_ph && !uploadError_ph"><i class="fa fa-info-circle" style="display: inline-block;margin-right: 10px;"></i>upload completato con successo</p>
            <p class="alert alert-danger" ng-show="uploadError_ph"><i class="fa fa-exclamation-circle" style="display: inline-block;margin-right: 10px;"></i>upload fallito</p>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()" type="button">Annulla</button>
        <button class="btn btn-primary" ng-disabled="(!doctor.firstname || !doctor.lastname || !doctor.email)" ng-click="save()" type="button" disabled="disabled">Salva</button>
    </div>
</form>
<script>$.material.checkbox();</script>
