<div class="modal-header">
    <h2><i class="fa fa-plus" /> Creazione caso clinico</h2>
</div>
<form role="form">
    <div class="modal-body">
        <div class="form-group">
            <label for="case__generic_diagnosis">Diagnosi generica</label>
            <select class="form-control" id="case__generic_diagnosis" ng-model="case.generic_diagnosis" required>
                <option ng-repeat="g in generic_diagnosis.list" value="{{ g.id }}" ng-selected="case.generic_diagnosis == g.id">{{ g.code }} - {{ g.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="case__specific_diagnosis">Diagnosi specifica</label>
            <select ng-show="case.generic_diagnosis" class="form-control" id="case__specific_diagnosis" ng-model="case.specific_diagnosis" required>
                <option ng-repeat="s in specific_diagnosis.list" value="{{ s.id }}" ng-selected="case.specific_diagnosis == s.id">{{ s.complete_code }} - {{ s.name }}</option>
            </select>
            <p ng-show="!case.generic_diagnosis">Selezionare la diagnosi generica</p>
        </div>
        <div class="form-group" ng-if="contacts.list.length">
            <label for="case__patient">Contatto</label>
            <div class="error" ng-show="errors.surgeon_contact">
                <div class="alert alert-danger" ng-repeat="e in errors.surgeon_contact">{{ e }}</div>
            </div>
            <select class="form-control" id="case__surgeon_contact" ng-model="case.surgeon_contact" required>
                <option ng-repeat="c in contacts.list" value="{{ c.id }}" ng-selected="case.surgeon_contact == c.id">{{ c.hospital_obj.name }} {{ c.description }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="case__patient">Paziente</label>
            <div class="error" ng-show="errors.patient">
                <div class="alert alert-danger" ng-repeat="e in errors.patient">{{ e }}</div>
            </div>
            <select class="form-control" id="case__patient" ng-model="case.patient" required>
                <option ng-repeat="p in patients.list" value="{{ p.id }}" ng-selected="case.patient == p.id">{{ p.lastname }} {{ p.firstname }}</option>
                <option value="0">aggiungi...</option>
            </select>
        </div>
        <!-- New Patient -->
        <div ng-show="case.patient === '0'">
            <div class="form-group">
                <label for="patient__firstname">Nome</label>
                <div class="error" ng-show="errors.firstname"> <!-- @FIXME -->
                    <div class="alert alert-danger" ng-repeat="e in errors.firstname">{{ e }}</div>
                </div>
                <input type="text" class="form-control" id="patient__firstname" ng-model="case.new_patient.firstname" placeholder="es. Mario" required />
            </div>
            <div class="form-group">
                <label for="patient__lastname">Cognome</label>
                <div class="error" ng-show="errors.lastname"> <!-- @FIXME -->
                    <div class="alert alert-danger" ng-repeat="e in errors.lastname">{{ e }}</div>
                </div>
                <input type="text" class="form-control" id="patient__lastname" ng-model="case.new_patient.lastname" placeholder="es. Rossi" required />
            </div>
            <div class="form-group">
                <label for="patient__sex">Sesso</label>
                <div class="error" ng-show="errors.patient__sex"> <!-- @FIXME -->
                    <div class="alert alert-danger" ng-repeat="e in errors.patient__sex">{{ e }}</div>
                </div>
                <div class="radio radio-success">
                    <label>
                      <input name="patient__sex" value="1" ng-model="case.new_patient.sex" ng-checked="case.new_patient.sex == 1" type="radio">
                      Maschio
                    </label>
                </div>
                <div class="radio radio-success">
                    <label>
                      <input name="patient__sex" value="2" ng-model="case.new_patient.sex" ng-checked="case.new_patient.sex == 2" type="radio">
                      Femmina
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="patient__cf">Codice Fiscale</label>
                <div class="error" ng-show="errors.cf"> <!-- @FIXME -->
                    <div class="alert alert-danger" ng-repeat="e in errors.cf">{{ e }}</div>
                </div>
                <input type="text" class="form-control form-control-uppercase" id="patient__cf" ng-model="case.new_patient.cf" placeholder="es. DBTGNT88G21T654T" required />
            </div>
            <div class="form-group">
                <label for="patient__birth_date">Data di nascita</label>
                <div class="error" ng-show="errors.birth_date">
                    <div class="alert alert-danger" ng-repeat="e in errors.birth_date">{{ e }}</div>
                </div>
                <div class="dropdown">
                    <span class="dropdown-toggle" id="dropdown2" role="button" data-target="#" href="#">
                        <div class="input-group">
                            <!-- <input type="text" class="form-control" data-ng-model="case.new_patient.birth_date | date:'dd/MM/yyyy'" placeholder="es. 01/10/1980" required> -->
                            Data selezionata: {{ case.new_patient.birth_date | date:'dd/MM/yyyy' }}
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </span>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-required="true" data-ng-model="case.new_patient.birth_date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', 'minView': 'day' }"/>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="patient__birth_place">Luogo di nascita</label>
                <div class="error" ng-show="errors.birth_place"> <!-- @FIXME -->
                    <div class="alert alert-danger" ng-repeat="e in errors.birth_place">{{ e }}</div>
                </div>
                <input type="text" class="form-control" id="patient__birth_place" ng-model="case.new_patient.birth_place" placeholder="es. Milano" required />
            </div>
            <div class="form-group">
                <label for="patient__address">Indirizzo</label>
                <div class="error" ng-show="errors.ddress"> <!-- @FIXME -->
                    <div class="alert alert-danger" ng-repeat="e in errors.address">{{ e }}</div>
                </div>
                <input type="text" class="form-control" id="patient__address" ng-model="case.new_patient.address" placeholder="es. Via Roma 45" required />
            </div>
            <div class="form-group">
                <label for="patient__city">Città</label>
                <div class="error" ng-show="errors.city"> <!-- @FIXME -->
                    <div class="alert alert-danger" ng-repeat="e in errors.city">{{ e }}</div>
                </div>
                <input type="text" class="form-control" id="patient__city" ng-model="case.new_patient.city" placeholder="es. Torino" required />
            </div>
            <div class="form-group">
                <label for="patient__phone">Telefono</label>
                <div class="error" ng-show="errors.phone"> <!-- @FIXME -->
                    <div class="alert alert-danger" ng-repeat="e in errors.phone">{{ e }}</div>
                </div>
                <input type="text" class="form-control" id="patient__phone" ng-model="case.new_patient.phone" placeholder="es. 011.784839" required />
            </div>
            <div class="form-group">
                <label for="patient__email">E-mail</label>
                <div class="error" ng-show="errors.email"> <!-- @FIXME -->
                    <div class="alert alert-danger" ng-repeat="e in errors.email">{{ e }}</div>
                </div>
                <input type="email" class="form-control" id="patient__email" ng-model="case.new_patient.email" placeholder="es. mariorossi@gmail.com" required />
            </div>
        </div>
        <!-- End New Patient -->
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()" type="button">Annulla</button>
        <button class="btn btn-primary" ng-disabled="!case.specific_diagnosis || (!case.patient || (case.patient === '0' && !checkNewPatientMandatoryFields()))" ng-click="save()" type="button" disabled="disabled">Salva</button>
    </div>
    <script>$.material.checkbox();$.material.radio();$.material.input();</script>
</form>
