<h2>Rivalutazione</h2>
<div ng-if="vm.is_visible_tp">
    <h3>Proposta terapeutica</h3>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-12 col-md-6">
            <div class="shadow-z-1">
                <div style="padding: 14px;" class="bg-white">
                    <nocctpbox tp="vm.tp" show-visible="!vm.user.is_patient"></nocctpbox>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="vm.tc && vm.is_visible_tc">
    <h3>Scheda terapeutica</h3>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-12 col-md-6">
            <div class="shadow-z-1">
                <div style="padding: 14px;" class="bg-white">
                    <nocctcbox tc="vm.tc" show-visible="!vm.user.is_patient"></nocctcbox>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="vm.etc && vm.is_visible_etc">
    <h3>Scheda fine trattamento</h3>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-12 col-md-6">
            <div class="shadow-z-1">
                <div style="padding: 14px;" class="bg-white">
                    <noccetcbox etc="vm.etc" show-visible="!vm.user.is_patient"></noccetcbox>
                </div>
            </div>
        </div>
    </div>
</div>
