<section>
    <h1>NOCC</h1>
    <p>In qualità di chirurgo hai la facoltà di creare nuovi casi clinici e guidarli fino alla conclusione della terapia.</p>
    <h2>Creazione caso clinico</h2>
    <p>Per creare un nuovo caso clinico, entra nella sezione <a ui-sref="case" href>casi clinici</a> e premi il bottone <i class="fa fa-plus-circle"></i> nella barra in alto.</p>
    <p>Compila i campi obbligatori e seleziona un paziente già in archivio oppure inseriscine uno nuovo. All'inserimento di un nuovo paziente verrà attivata un'utenza le cui credenziali di accesso verranno inviate automaticamente all'indirizzo e-mail fornito.</p>
    <h2>Gestione caso clinico</h2>
    <p>Dalla sezione <a ui-sref="case" href>casi clinici</a> potrai accedere alla scheda dei singoli casi cliccando sulla diagnosi degli stessi.</p>
    <p>All'interno di un caso clinico potrai muoverti nelle varie sezioni utilizzando l'apposito menu che comprenderà un numero di voci variabili a seconda dell'avanzamento del caso.</p>
    <p>La sezione principale è sempre presente e mostra quali sono le operazioni da effettuare nell'attuale stato in cui si trova il caso clinico.</p>
    <h2>Notifiche</h2>
    <p>Puoi sempre visualizzare quali sono le operazioni che devi compiere per portare avanti i casi clinici cliccando sull'icona <i class="fa fa-bell"></i> delle notifiche nella barra superiore.</p>
    <h2>Gestione profilo</h2>
    <p>Puoi gestire in completa autonomia tutte le informazioni del tuo profilo:</p>
    <ul>
        <li>indirizzo e-mail principale</li>
        <li>fotografia</li>
        <li>CV</li>
        <li>Contatti nelle strutture con giorni di disponibilità ed eccezioni</li>
    </ul>
    <h2>Logout</h2>
    <p>Puoi effettuare il logout da sistema cliccando sull'icona <i class="fa fa-sign-out"></i> nella barra superiore.</p>
</section>
