<h2>Proposte terapeutiche</h2>
<p>Inserisci due proposte terapeutiche.<br />
    Quando entrambe saranno inserite potrai sottoporle a votazione da parte degli altri medici.</p>
<div class="row">
    <!-- first therapeutic proposal -->
    <div class="col-md-6">
        <h3>Primaria</h3>
        <a ng-show="!data.first_tp" class="btn btn-primary" ng-click="createTherapeuticProposal('first_tp', 1)">Inserisci la prima proposta terapeutica</a>
        <div class="well" ng-show="data.first_tp">
            <p class="text-right">
                <a ng-click="editTherapeuticProposal('first_tp')" class="fa fa-pencil"></a>
            </p>
            <table class="table table-bordered">
                <tr>
                    <th>Data</th>
                    <td>{{ data.first_tp.date | date: 'dd/MM/yyyy' }}</td>
                </tr>
                <tr>
                    <th>Titolo</th>
                    <td>{{ data.first_tp.title }}</td>
                </tr>
                <tr>
                    <th>Descrizione</th>
                    <td>{{ data.first_tp.description }}</td>
                </tr>
                <tr>
                    <th>Rivalutazione</th>
                    <td><i class="fa fa-{{ data.first_tp.need_revaluation ? 'check' : 'remove' }}"></i></td>
                </tr>
                <tr>
                    <th>Linne guida</th>
                    <td>
                        <ul>
                            <li ng-repeat="g in data.first_tp.guidelines_obj">
                                <aajax href="{{ g.file | absurl }}">{{ g.title }}</aajax>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
            <div ng-repeat="s in data.first_tp.sections">
                <h4>{{ s.section_type == 'oncologist' ? 'Oncologo' : (s.section_type == 'radiotherapist' ? 'Radioterapista' : 'Chirurgo') }}</h4>
                {{ s.text }}
            </div>
        </div>
    </div>
    <!-- second therapeutic proposal -->
    <div class="col-md-6">
        <h3>Secondaria</h3>
        <a ng-show="!data.second_tp" class="btn btn-primary" ng-click="createTherapeuticProposal('second_tp', 2)">Inserisci la seconda proposta terapeutica</a>
        <div class="well" ng-show="data.second_tp">
            <p class="text-right">
                <a ng-click="editTherapeuticProposal('second_tp')" class="fa fa-pencil"></a>
            </p>
            <table class="table table-bordered">
                <tr>
                    <th>Data</th>
                    <td>{{ data.second_tp.date | date: 'dd/MM/yyyy' }}</td>
                </tr>
                <tr>
                    <th>Titolo</th>
                    <td>{{ data.second_tp.title }}</td>
                </tr>
                <tr>
                    <th>Descrizione</th>
                    <td>{{ data.second_tp.description }}</td>
                </tr>
                <tr>
                    <th>Rivalutazione</th>
                    <td><i class="fa fa-{{ data.second_tp.need_revaluation ? 'check' : 'remove' }}"></i></td>
                </tr>
                <tr>
                    <th>Linne guida</th>
                    <td>
                        <ul>
                            <li ng-repeat="g in data.second_tp.guidelines_obj">
                                <aajax href="{{ g.file | absurl }}">{{ g.title }}</aajax>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
            <div ng-repeat="s in data.second_tp.sections">
                <h4>{{ s.section_type == 'oncologist' ? 'Oncologo' : (s.section_type == 'radiotherapist' ? 'Radioterapista' : 'Chirurgo') }}</h4>
                {{ s.text }}
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <p ng-show="data.first_tp && data.second_tp">
            <a class="btn btn-primary" ng-click="forwardStatus()">Sottoponi le proposte terapeutiche a votazione</a>
        </p>
    </div>
<div>
