.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.dragover {
    border-color: @primary;
}
.progress { 
  height: 2em;
  i { line-height: 2.5em; }
}
.progress-bar { 
  transition: width 1s ease-in-out; 
}
