html {
    position: relative;
    min-height: 100%;
    background: #ECF0F1;
}
body {
    min-height: 100%;
}
#sidebar {
    min-height: 100%;
    background: #333;
    h2 {
        color: #8e9aa4;
        font-size: 20px;
        padding-left: 10px;
    }
    nav  {
        .fa {
            color: #fff;
            font-size: 18px;
            margin-right: 10px;
        }
        .navbar-collapse {
            padding: 0;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
        }
        li {
            padding: 10px 20px;
            background: #222;
            border: 1px solid #111;
        }
        li + li {
            border-top-width: 0px;
        }
    }
    .logo-container {
        height: @topbar-height;
        background: #FF503F;
        text-align: center;
        position: relative;
        h1 {
            line-height: @topbar-height;
            display: inline-block;
            margin: 0 auto;
            a {
                color: #fff !important;
            }
        }
        .navbar-toggle {
            position: absolute;
            right: 0px;
            margin-right: 5px;
            top: (@topbar-height/2 - 25px);
            .icon-bar {
                border-color: #fff;
                border-top: 2px solid #fff;
            }
        }
    }
}
#topbar {
    padding-top: 10px;
    min-height: @topbar-height;
    background-color: #fff !important;
    margin-bottom: 0;
    .navbar-nav > li {
        float: left;
    }
}
#content-container {
    > section, > div {
        padding: 20px;
    }
}

/* menu collapse */
@media(min-width:@grid-float-breakpoint) {
    #sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: @sidebar-width;
    }
    #topbar {
        margin-left: @sidebar-width;

    }
    #content-container {
        margin-left: 250px;
    }
}

/* actions bar */
.actions-bar {
    background: #eaeaea;
    border-bottom: 1px solid #fff;
    text-align: right;
    padding: 10px 30px 10px 20px;
}

/* pageslide */
.ng-pageslide {
    background: #75c1cf;
    border-left: 1px solid #fff;
    > div {
        padding: 20px 10px;
    }
}

/* notification */
ul.notification {
    list-style-type: none;
    padding-left: 0;
    li {
        background: lighten(#066071, 5%);
        padding: 5px;
        color: #fff;
        margin-bottom: 5px;
    }
}
.notification-num {
    display: inline-block;
    padding: 4px;
    border-radius: 50%;
    background: red;
    color: #fff;
    height: 20px;
    width: 20px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    position: relative;
    top: -15px;
    left: -5px;
}
