<h2>Follow Up</h2>

<tabset>
    <tab>
        <tab-heading>Iniziali</tab-heading>
        <div style="margin-top: 20px;">
            <div class="table-responsive-vertical">
                <table ng-show="vm.data.initial.accepted.length || vm.data.initial.finalized" class="table table bordered table-striped">
                    <tr>
                        <th>Medico</th>
                        <th>Data</th>
                        <th>Descrizione</th>
                        <th>Esami</th>
                    </tr>
                    <tr ng-repeat="fu in vm.data.initial.accepted">
                        <td data-title="Medico">{{ fu.doctor_contact.doctor.firstname }} {{ fu.doctor_contact.doctor.lastname }}</td>
                        <td data-title="Data">{{ fu.date | date: 'dd/MM/yyyy HH:mm' }}</td>
                        <td data-title="Descrizione">{{ fu.text }}</td>
                        <td data-title="Esami"></td>
                    </tr>
                    <tr ng-repeat="fu in vm.data.initial.finalized">
                        <td data-title="Medico">{{ fu.doctor_contact.doctor.firstname }} {{ fu.doctor_contact.doctor.lastname }}</td>
                        <td data-title="Data">{{ fu.date | date: 'dd/MM/yyyy HH:mm' }}</td>
                        <td data-title="Descrizione">{{ fu.text }}</td>
                        <td data-title="Esami">
                            <a href ui-sref="case.detail.patient.examination({ activeTab: 'followup' })" class="fa fa-eye"></a>
                        </td>
                    </tr>
                </table>
            </div>
            <p ng-show="!vm.data.initial.finalized.length && !vm.data.initial.accepted.length">Non risultano Follow Up</p>
        </div>
    </tab>
    <tab ng-if="vm.data.adjuvant.total">
        <tab-heading>Terapia adiuvante</tab-heading>
        <div style="margin-top: 20px;">
            <div class="table-responsive-vertical">
                <table ng-show="vm.data.adjuvant.accepted.length || vm.data.adjuvant.finalized" class="table table bordered table-striped">
                    <tr>
                        <th>Medico</th>
                        <th>Data</th>
                        <th>Descrizione</th>
                        <th>Esami</th>
                    </tr>
                    <tr ng-repeat="fu in vm.data.adjuvant.accepted">
                        <td data-title="Medico">{{ fu.doctor_contact.doctor.firstname }} {{ fu.doctor_contact.doctor.lastname }}</td>
                        <td data-title="Data">{{ fu.date | date: 'dd/MM/yyyy HH:mm' }}</td>
                        <td data-title="Descrizione">{{ fu.text }}</td>
                        <td data-title="Esami"></td>
                    </tr>
                    <tr ng-repeat="fu in vm.data.adjuvant.finalized">
                        <td data-title="Medico">{{ fu.doctor_contact.doctor.firstname }} {{ fu.doctor_contact.doctor.lastname }}</td>
                        <td data-title="Data">{{ fu.date | date: 'dd/MM/yyyy HH:mm' }}</td>
                        <td data-title="Descrizione">{{ fu.text }}</td>
                        <td data-title="Esami">
                            <a href ui-sref="case.detail.patient.examination({ activeTab: 'adj' })" class="fa fa-eye"></a>
                        </td>
                    </tr>
                </table>
            </div>
            <p ng-show="!vm.data.adjuvant.finalized.length && !vm.data.adjuvant.accepted.length">Non risultano Follow Up</p>
        </div>
    </tab>
    <tab ng-if="vm.data.final.total">
        <tab-heading>Fine trattamento</tab-heading>
        <div style="margin-top: 20px;">
            <div class="table-responsive-vertical">
                <table ng-show="vm.data.final.accepted.length || vm.data.final.finalized" class="table table bordered table-striped">
                    <tr>
                        <th>Medico</th>
                        <th>Data</th>
                        <th>Descrizione</th>
                        <th>Esami</th>
                    </tr>
                    <tr ng-repeat="fu in vm.data.final.accepted">
                        <td data-title="Medico">{{ fu.doctor_contact.doctor.firstname }} {{ fu.doctor_contact.doctor.lastname }}</td>
                        <td data-title="Data">{{ fu.date | date: 'dd/MM/yyyy HH:mm' }}</td>
                        <td data-title="Descrizione">{{ fu.text }}</td>
                        <td data-title="Esami"></td>
                    </tr>
                    <tr ng-repeat="fu in vm.data.final.finalized">
                        <td data-title="Medico">{{ fu.doctor_contact.doctor.firstname }} {{ fu.doctor_contact.doctor.lastname }}</td>
                        <td data-title="Data">{{ fu.date | date: 'dd/MM/yyyy HH:mm' }}</td>
                        <td data-title="Descrizione">{{ fu.text }}</td>
                        <td data-title="Esami">
                            <a href ui-sref="case.detail.patient.examination({ activeTab: 'final' })" class="fa fa-eye"></a>
                        </td>
                    </tr>
                </table>
            </div>
            <p ng-show="!vm.data.final.finalized.length && !vm.data.final.accepted.length">Non risultano Follow Up</p>
        </div>
    </tab>
</tabset>
